.footer_content{
  display: flex;
  flex-direction: column;
  .footer_contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0;
    .footer__social_network {
      display: flex;
      grid-gap: 20px;
      .footer__item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        padding: 15px 12px;
        border: 2px solid #66C05D;
        border-radius: 50%;
      }
  }
    .footer__address{
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
  }

}
.footer_privacy_policy{
  padding: 25px 0 ;
  background-color: #EFEFEF;
  .footer_privacy_policy_content{
    display: flex;
    justify-content: space-between;
    p{
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #828282;
    }
  }

}
@media (max-width:992px) {
.footer_contact{
  flex-direction: column;
  grid-gap: 20px;
}
  .footer_privacy_policy{
    .footer_privacy_policy_content{
      flex-direction: column;
      align-items: center;
      grid-gap: 10px;
      p{
        text-align: center;
      }
    }
  }
}
@media (max-width:576px) {

}