
header{
  border-bottom: 1px solid #EFEFEF ;
  .header_anchor{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    background-color: #EFEFEF;
    height: 50px;
    a{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      color: #333333;
    }
  }
  .header_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 20px 0;
    .header_logo{
      display: flex;
      align-items: center;
      grid-gap: 20px;
      span{
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.1em;
        color: #66C05D;
      }
    }

  }

}

